.btn {
    background: #3700ff;
    background-image: -webkit-linear-gradient(top, #3700ff, #00f7ff);
    background-image: -moz-linear-gradient(top, #3700ff, #00f7ff);
    background-image: -ms-linear-gradient(top, #3700ff, #00f7ff);
    background-image: -o-linear-gradient(top, #3700ff, #00f7ff);
    background-image: linear-gradient(to bottom, #3700ff, #00f7ff);
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    font-family: Arial;
    color: #f7ff0a;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #ebff14 2px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #00ff91;
    background-image: -webkit-linear-gradient(top, #00ff91, #00f7ff);
    background-image: -moz-linear-gradient(top, #00ff91, #00f7ff);
    background-image: -ms-linear-gradient(top, #00ff91, #00f7ff);
    background-image: -o-linear-gradient(top, #00ff91, #00f7ff);
    background-image: linear-gradient(to bottom, #00ff91, #00f7ff);
    text-decoration: none;
  }